@import './main.css';
@import './components.css';
@import './responsive.css';


.cl-pricingTable {
  display: flex ;
  flex-direction: row ;
  padding: 10px;
}
@media (max-width: 1024px) {
    .cl-pricingTable{
    flex-direction: column ;
  }
}